@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-image {
    width: 200px; 
    height: auto;
    animation: rotation 3s linear infinite; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('IMG-20250206-WA0006.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
h1 {
    color: black;
}
p {
    text-align: left;
    font-size: 18px;
    color: black;
}
form {
    max-width: 90%;
    margin-top: 20px;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: red;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: red;
}
